.card{
    background-color: white;
    border: 1px solid; 
    border-radius: 5rem;
    padding: 0.5rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form-group > label {
    font-weight: bold;
    font-size: .8em;
    color: #333;
}

.form-group > input {
    border: 1px solid #333;
    border-radius: .25rem;
    font-size: 1rem;

}